$font-primary: 'Inter', sans-serif;

:root {
	--font-size-root: 10px;	
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@extend %headings !optional;
	font-size: var(--font-size-root);
	font-weight: normal;
	margin: 0;
	line-height: inherit;
}

%font-base {
	font-family: $font-primary;
	font-weight: 400;
	letter-spacing: 0;
	margin: 0;
}

%font-primary-xs {
	@extend %font-base;
    font-size: 1.2rem;
	font-weight: 400;
}

%font-primary-xs-uppercase {
	@extend %font-base;
    font-size: 1.2rem;
	font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

%font-primary-m {
	@extend %font-base;
    font-size: 1.8rem;
	font-weight: 700;
}

%font-primary-l {
	@extend %font-base;
    font-size: 3rem;
	font-weight: 700;
}
