@use '../helpers' as *;

.page-content--listing {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 2rem;
	align-items: start;
	@include breakpoint('tablet-portrait') {
		grid-template-columns: repeat(3, 1fr);
	}
	@include breakpoint('tablet-landscape') {
		gap: 3rem;
		grid-template-columns: repeat(4, 1fr);
	}
	> .item {
		text-align: left;
		display: flex;
		flex-direction: column;
		gap: 1rem;
		.item-title {
			@extend %font-primary-m;
		}
		.item-body {
			@extend %font-primary-xs;
		}
	}
}