@use '../helpers' as *;

.page-navigation {
	& + & {
		&::before {
			content: "•";
		}
	}
	ul {
		list-style: none;
		li {
			padding: 0.5rem 0;
			a {
				@extend %font-primary-xs-uppercase;
			}
		}
	}
	&--utils {
		margin-top: auto;
	}
}