:root {
	--primary-color: $bittersweet;
	--secondary-color: $royal-blue-dark;
	--tertiary-color: $powder-blue;
	--black-color: $rich-black;
	--white-color: $honeydew;
}
body {
	font-family: $font-family-base;
	font-size: $font-size-base;
	font-weight: lighter;
	line-height: $line-height-base;
	text-align: left;
	color: var(--black-color);
	background-color: var(--white-color);
	*{
		box-sizing: border-box;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}

h1, h2, h3,
h4, h5, h6 {
	@extend %headings !optional;
	font-size: $font-size-base;
	font-weight: normal;
}

figure {
	margin: 0;
	img {
		width: 100%;
		height: auto;
	}
}

ul,ol {
	list-style-position: inside;
}