.section#section-lead{
	margin-top: $font-size-base*8;
	position: relative;
	background-color: $brand-primary;
	overflow-x: hidden;
	color: $brand-white;
	a {
		color: currentColor;
	}
	@include breakpoint-up(md){
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.section {
		&-inner {
			> * {
				position: relative;
				z-index: 2;
			}
			&::before {
				content: "";
				position: absolute;
				z-index: 1;
				top: $font-size-base/2;
				left: $font-size-base/2;
				width: $font-size-base*8;
				height: $font-size-base*12;
				background-image: url("../../images/dot-blue.svg");
				opacity: 50%;
			}
			&::after {
				content: "";
				z-index: 1;
				position: absolute;
				width: 50vw;
				height: 50vw;
				background-size: contain;
				background-position: center;
				background-repeat: no-repeat;
				background-image: url("../../images/logo-white.svg");
				opacity: 15%;
				top: 50%;
				margin-top: -25vw;
				right: -15vw;
			}
			@include breakpoint-up(md){
				padding-top: $font-size-base*6;
				@include container(map-get($breakpoints, lg), $font-size-base*1.5);
				&::before {
					width: $font-size-base*24;
					height: $font-size-base*13;
					top: $font-size-base*3;
					left: -$font-size-base*3;
				}
				&::after {
					width: $font-size-base*25;
					height: $font-size-base*25;
					margin-top: -$font-size-base*12.5;
					right: -$font-size-base*6;
				}
			}
		}
		&-title {
			@include h1;
			text-align: center;
		}
	}
	.lead-form {
		@include container(map-get($breakpoints, sm), 0, grid);
		.form {
			&-label {
				color: currentColor;
			}
			&-cta {
				@include btn-primary($bg: $brand-secondary);
				margin: 0;
			}
		}
		@include breakpoint-up(md){
			grid-template-columns: auto $font-size-base*8;
			grid-template-rows: $input-line-height auto;
			grid-gap: $font-size-base;
			.form {
				&-check {
					grid-column: 1/-1;
					grid-row: 2/-1;
				}
				&-cta {
					grid-column: 2/-1;
					grid-row: 1/2;
				}
			}
		}
	}
}
