.section#section-hero{
	position: relative;
	background-color: $brand-primary;
	background-image: linear-gradient($brand-primary,darken($brand-primary,3%));
	color: $brand-white;
	padding-top: $header-height-mobile;
	overflow-x: hidden;
	@include breakpoint-up(md){
		min-height: 100vh;
		padding-top: $header-height-desktop;
		padding-bottom: $header-height-desktop;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.section {
		&-inner {
			> * {
				position: relative;
				z-index: 2;
			}
			&::before {
				content: "";
				position: absolute;
				z-index: 1;
				top: $font-size-base/2;
				left: $font-size-base/2;
				width: 42vw;
				height: 42vh;
				background-image: url("../../images/dot-blue.svg");
				opacity: 50%;
			}
			&::after {
				content: "";
				z-index: 1;
				position: absolute;
				width: 90vw;
				height: 90vw;
				background-size: contain;
				background-position: center;
				background-repeat: no-repeat;
				background-image: url("../../images/logo-white.svg");
				opacity: 15%;
				top: 50%;
				margin-top: -45vw;
				right: -25vw;
			}
			@include breakpoint-up(md){
				@include container(map-get($breakpoints, lg), $font-size-base*1.5);
				&::before {
					width: $font-size-base*24;
					height: $font-size-base*13;
					top: -$font-size-base*3;
					left: -$font-size-base*6;
				}
				&::after {
					width: 86vh;
					height: 86vh;
					margin-top: -43vh;
					right: -15vh;
				}
			}
		}
		&-title {
			@include h1;
			position: relative;
			&::before {
				content: "";
				position: absolute;
				top: 1%;
				left: -9px;
				background-color: $brand-secondary;
				width: 4px;
				height: 98%;
			}
			@include breakpoint-up(md){
				&::before {
					left: -30px;
					width: 10px;
				}
			}
		}
		&-copy {
			@include copy;
			font-weight: 300;
			@include breakpoint-up(lg){
				width: 75%;
			}
		}
		&-cta {
			&:not(.section-cta-light){
				@include btn-primary($bg: $brand-secondary);
			}
			&-light {
				@include btn-light($color: $brand-white);
			}
			&-group {
				> * {
					margin-top: $font-size-base;
				}
				&-divider {
					display: none;
				}
			}
			@include breakpoint-up(md){
				&-group {
					display: flex;
					flex-direction: row;
					align-items: center;
					> * {
						margin-top: $font-size-base*2.5;
						margin-right: $font-size-base*2.5;
					}
					&-divider {
						display: inline-block;
						font-weight: 300;
						text-transform: uppercase;
					}
				}
			}
		}
	}
}
