.section#section-insights {
	padding-left: 0;
	padding-right: 0;
	.section {
		&-inner {
			position: relative;
		}
	}
	.media-text {
		padding-top: $font-size-base*4;
		&-copy {
			color: $brand-white;
			background-color: $brand-primary;
			background-image: linear-gradient($brand-primary,darken($brand-primary,3%));
			padding: $font-size-base*3 $font-size-base*1.5;
			box-shadow: $shadow;
			&-title {
				position: relative;
				@include h2;
				&::after {
					content: "";
					position: relative;
					z-index: 1;
					width: 30%;
					height: 2px;
					background-color: $brand-secondary;
					margin-top: $font-size-base*1.5;
					margin-bottom: $font-size-base*1.5;
					display: block;
				}
			}
			p {
				@include copy;
			}
		}
		&-figure {
			position: relative;
			padding: 0 $font-size-base*1.5;
			img {
				position: relative;
				z-index: 3;
				width: 100%;
			}
			&::before {
				content: "";
				position: absolute;
				z-index: 1;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 50%;
				background-color: $brand-primary;
			}
			&::after {
				content: "";
				z-index: 2;
				position: absolute;
				top: 60%;
				right: $font-size-base;
				width: $font-size-base*5;
				height: $font-size-base*10;
				background-image: url("../../images/dot-red.svg");
			}
		}
		@include breakpoint-up(md){
			@include container(map-get($breakpoints, lg), $font-size-base*1.5, flex);
			flex-direction: row;

			&-copy {
				flex-basis: 80%;
				padding-left: 33%;
				padding-right: $font-size-base*2.5;
			}
			&-figure {
				flex-basis: 20%;
				padding-top: $font-size-base*2.5;
				img {
					position: relative;
					transform: scale(3);
					transform-origin: left top;
				}
				&::before {
					display: none;
				}
				&::after {
					top: auto;
					bottom: -$font-size-base*2;
					right: -$font-size-base*12;
					width: $font-size-base*8;
					height: $font-size-base*12;
				}
			}
			& + .media-text {
				flex-direction: row-reverse;
				padding-top: $font-size-base*8;
				.media-text-copy {
					padding-right: 33%;
					padding-left: $font-size-base*2.5;
				}
				.media-text-figure {
					padding-top: 0;
					margin-top: -$font-size-base*4;
					img {
						transform: scale(2);
						transform-origin: right top;
						right: 33%;
					}
					&::after {
						right: auto;
						left: -80%;
						width: $font-size-base*14;
						height: $font-size-base*8;
						bottom: -$font-size-base*2.5;
					}
				}
			}
		}
	}
}
