body[data-page='home'] {
	#main {
		margin-top: 0;
		@include breakpoint-up(md) {
			margin-top: 0;
		}
	}
	.page {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		min-height: 100vh;
		&-headings {
			text-align: center;
			@include container(map-get($breakpoints,md), $font-size-base*1.25);
			@include breakpoint-up(md) {
				padding-left: $font-size-base*2;
				padding-right: $font-size-base*2;
			}
		}
		&-title {
			font-size: $font-size-huge;
			font-weight: bold;
		}
		&-subtitle {
			font-size: $font-size-sm;

		}
	}
}